body{
    background: lightblue;
    font-family:Arial, Helvetica, sans-serif;
}

.common{
    background-color: lightblue;
    border: 2px solid white;
    position: absolute;
}

.header{
    top:5px;
    left:15px;
    right:25px;
    height:100px;
}

.left{
    top: 115px;
    left: 15px;
    bottom: 100px;
    width: 40px;
    height:fit-content; 
}

.main{
    top:115px;
    left:130px;
    right:140px;
    bottom:400px;
    height:fit-content; 
}

.right{
    top:115px;
    right:15px;
    bottom:100px;
    width:40px;
    height:fit-content; 
}

.footer{
    bottom:5px;
    height:25px; 
    left:15px;
    right:25px;
    position: fixed;
}


.redtext{
    color:red;
}

.purpletext{
    color: purple;;
}

